<div class="row">
  <div class="col-md-12">
  <app-spinner *ngIf='showpinner'></app-spinner>
    <div class="response" *ngIf='users?.length>0; else noUser'>
        <h3> Users </h3>
        <div class="example-button-row">
          <a [routerLink]='["users","create"]' mat-stroked-button color="primary">Create User</a>
          <a [routerLink]='["posts","create"]' mat-stroked-button color="accent">Create Post</a>
        </div>
      <table mat-table [dataSource]="users" class="mat-elevation-z8">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]='["users","edit",element._id]' mat-stroked-button color="primary">Edit</a>
            <a href='#' mat-stroked-button color="warn" (click)='onDelete(element._id)'>Delete</a>
            <a [routerLink]='["users",element._id]' mat-stroked-button color="primary">View Details</a>
          </td>
        </ng-container>

      </table>
    </div>
    <ng-template #noUser>
      <div class="alert alert-info">
        <p>There is no user in the system</p>
      </div>
    </ng-template>
  </div>
</div>